{% extends 'base.html.twig' %}

{% block title %}New Student{% endblock %}

{% block body %}
    <h1>Create new Student</h1>

    {{ include('student/_form.html.twig') }}
    <div class="mt-2">
        <a class="btn btn-info" href="{{ path('app_student_index') }}">back to list</a>
    </div>
{% endblock %}
